<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Dashboard page</title>
    <script type="text/javascript">
      console.log("<%=@console_message%>")
    </script>
  </head>
  <body class="dashboard">
    <h2 class="title">Gambling Site</h2>
    <div class="page">
      <form class="cred_holder total_stats" action="/dashboard" method="post">
        <h3>Place your bet on one of these die rolls :  [1,2,3,4,5,6]</h3>
        <div class="credentials usn">
          <label for="#bet_amt">Bet money amount: </label>
          <input class="input" type="number" name="betAmount" id="bet_amt" value="<%= session[:betAmt]%>">

        </div>
        <div class="credentials pwd">

          <label for="#bet_num">Bet on this number: </label>
          <input class="input" type="number" min="1" max="6" name="betNumber" id="bet_num" value="<%= session[:betNum]%>">
        </div>

          <button class="button" id="bet_btn" type="submit" name="Bet" value="Bet" >Bet</button>
          <div class="win_lose_text">
            <%=@betMessage%>
          </div>

      </form>
  <!--  -->
      <div class="total_stats session_stats">
        <h3>Total Statistics in "Current Session"</h3>
        <div class="">
          <label for="#tot_won_sess">Total Win: </label>
          <input class="input session_win" type="number" id="tot_won_sess" name="tot_won_sess" value="<%= session[:tot_won_sess] %>">
        </div>
        <div class="">
          <label for="#tot_lost_sess">Total Lose: </label>
          <input class="input session_loss" type="number" id="tot_lost_sess" name="tot_lost_sess" value="<%= session[:tot_lost_sess] %>">

        </div>
        <div class="">
          <label for="#tot_profit_sess">Net Total Profit: </label>
          <input class="input session_profit" type="number" id="tot_profit_sess" name="tot_profit_sess" value="<%=session[:tot_profit_sess]%>">

        </div>
      </div>
  <!-- ??? -->
    <form class="logoutForm" action="/logout" method="get">
      <div class="account_stats">
        <h3>Total statistics for the "Account" (before this session) </h3>
        <div class="">
          <label for="#tot_won_acc">Total Win: </label>
          <input class="input account_win" type="number" id="tot_won_acc" name="tot_won_acc" value="<%= @tot_won_acc %>" disabled>
        </div>
        <div class="">
          <label for="#tot_lost_acc">Total Loss: </label>
          <input class="input account_loss" type="number" id="tot_lost_acc" name="tot_lost_acc" value="<%= @tot_lost_acc %>" disabled>

        </div>
        <div class="">
          <label for="#tot_profit_acc">Net Total Profit: </label>
          <input class="input account_profit" type="number" id="tot_profit_acc" name="tot_profit_acc" value="<%= @tot_profit_acc %>" disabled>

        </div>
      </div>




      <!-- <a class="logout_anchor" href="./logout" > -->
        <input class="button" id="logout_btn" type="submit" name="Logout" value="Logout" >
       <!-- </a> -->
    </form>

    </div>




  </body>
</html>
