<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>Dashboard page</title>
    <script type="text/javascript">
      console.log("<%=session[:console_message]%>")
    </script>
  </head>
  <body class="dashboard">
    <h2 class="title">Gambling Site</h2>
    <div class="page">
      <form class="cred_holder total_stats" action="/dashboard" method="post">
        <h3>Place your bet on dice number :  1 to 6</h3>
        <div class="credentials usn">
          <label for="#bet_amt">Bet money amount: </label>
          <input class="input" type="text" name="betAmount" id="bet_amt" value="<%= session[:betAmt]%>">

        </div>
        <div class="credentials pwd">

          <label for="#bet_num">on this number: </label>
          <input class="input" type="text" name="betNumber" id="bet_num" value="<%= session[:betNum]%>">
        </div>

          <button class="button" id="bet_btn" type="submit" name="Bet" value="Bet" onclick="<%betOnClick%>">Bet</button>


      </form>
  <!--  -->
      <div class="total_stats session_stats">
        <h3>Total Statistics in current session</h3>
        <div class="">
          <label for="#tot_win_sess">Total Win: </label>
          <input class="input session_win" type="text" id="tot_win_sess" name="tot_win_sess" value="<%= session[:tot_win_sess] %>">
        </div>
        <div class="">
          <label for="#tot_loss_sess">Total Loss: </label>
          <input class="input session_loss" type="text" id="tot_loss_sess" name="tot_loss_sess" value="<%= session[:tot_loss_sess] %>">

        </div>
        <div class="">
          <label for="#tot_profit_sess">Total Profit: </label>
          <input class="input session_profit" type="text" id="tot_profit_sess" name="" value="">

        </div>
      </div>
  <!-- ??? -->

      <div class="total_stats account_stats">
        <h3>Total statistics for the Account</h3>
        <div class="">
          <label for="#tot_win_acc">Total Win: </label>
          <input class="input account_win" type="text" id="tot_win_acc" name="" value="">
        </div>
        <div class="">
          <label for="#tot_loss_acc">Total Loss: </label>
          <input class="input account_loss" type="text" id="tot_loss_acc" name="" value="">

        </div>
        <div class="">
          <label for="#tot_profit_acc">Total Profit: </label>
          <input class="input account_profit" type="text" id="tot_profit_acc" name="" value="">

        </div>

        <a href="./login" >
          <input class="button" id="logout_btn" type="button" name="Logout" value="Logout">
         </a>
      </div>
    </div>




  </body>
</html>
